@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    eBangayMo is an application helps the barangay maliwaliw officials to manage, store and keep track of their data.
</p>
