
@{
    ViewBag.Title = "CreateAcc";
}

<html>
<head>
    <style>
        /*hide arrows from input number*/
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .fnt {
            font-family: 'Bell MT';
            font-size: 70px;
        }
    </style>
</head>
<body>
    <br />
    <div class="d-flex justify-content-center">
        <div class="card w-50">
            <div class="card-header">
                <h4><b>Create Account</b></h4>
            </div>
            <div class="card-body">
                <div class="row">
                    @*last name*@
                    <div class="col">
                        <div class="form-group">
                            <label>Last Name</label>
                            <div class="input-group-sm">
                                <input id="txtLname" class="form-control" />
                            </div>
                        </div>
                    </div>
                    @*first name*@
                    <div class="col">
                        <div class="form-group">
                            <label>First Name</label>
                            <div class="input-group-sm">
                                <input id="txtfname" class="form-control" />
                            </div>
                        </div>
                    </div>
                    @*middle name*@
                    <div class="col">
                        <div class="form-group">
                            <label>Middle Name</label>
                            <div class="input-group-sm">
                                <input id="txtmname" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*age*@
                    <div class="col">
                        <div class="form-group">
                            <label>Age</label>
                            <div class="input-group-sm">
                                <input id="txtage" type="number" class="form-control" />
                            </div>
                        </div>
                    </div>
                    @*birthdate*@
                    <div class="col">
                        <div class="form-group">
                            <label>Birthdate</label>
                            <div class="input-group-sm">
                                <input id="txtbirthdate" type="date" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @* role *@
                    <div class="col">
                        <div class="form-group">
                            <label>Role</label>
                            <div class="input-group-sm">
                                <select id="drpRole" class="form-control">
                                    <option id="captain" value="Captain">Captain</option>
                                    <option id="secretary" value="Secretary">Secretary</option>
                                    <option id="treasurer" value="Treasurer">Treasurer</option>
                                    <option id="counsilor1" value="Counsilor1">First Counsilor</option>
                                    <option id="counsilor2" value="Counsilor2">Second Counsilor</option>
                                    <option id="counsilor3" value="Counsilor3">Third Counsilor</option>
                                    <option id="counsilor4" value="Counsilor4">Fourth Counsilor</option>
                                    <option id="counsilor5" value="Counsilor5">Fifth Counsilor</option>
                                    <option id="counsilor6" value="Counsilor6">Sixth Counsilor</option>
                                    <option id="counsilor7" value="Counsilor7">Seventh Counsilor</option>
                                    <option id="resident" value="resident">Resident</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*Civil Status*@
                    <div class="col">
                        <div class="form-group">
                            <label>Civil Status</label>
                            <div class="input-group-sm">
                                <select id="drpCivilStat" class="form-control">
                                    <option>Single</option>
                                    <option>Married</option>
                                    <option>Divorced</option>
                                    <option>Widowed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*email*@
                    <div class="col">
                        <div class="form-group-sm">
                            <label>Email</label>
                            <div class="input-group-sm">
                                <input id="txtemail" type="email" class="form-control" />
                            </div>
                        </div>
                    </div>
                    @*password*@
                    <div class="col">
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group-sm">
                                <input id="txtpass" type="password" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button id="btnCreateAcc" class="btn btn-info">Create Account</button>
                </div>
                <div class="d-flex justify-content-center">
                    <span>Already have an account?</span>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="@Url.Action("LoginUser","Home")">Login</a>
                </div>

            </div>
        </div>
    </div>
    <script src="~/Scripts/myScript/CreateAcc.js"></script>
</body>
</html>

