@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>
        .fnt {
            font-family: 'Bell MT';
            font-size: 70px;
        }
    </style>
</head>
<body>
    <br /><br /><br /><br /><br />
    <div class="jumbotron align-middle">
        <div class="fnt d-flex justify-content-center">
            <img class="d-flex justify-content-center" src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Barangay.svg" style="width:100px; height:100px;">
        </div>
        <br />
        <h1 class="fnt d-flex justify-content-center"><b>Welcome to eBarangayMo</b></h1>
        <div class="fnt d-flex justify-content-center">
            <button type="button" class="btn btn-info btn-lg" style="font-family:'Bell MT'">Sign Up</button>
        </div>
    </div>
</body>
</html>