@{
    ViewBag.Title = "residentPage";
}

<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        .spce {
            border-collapse: separate;
            border-spacing: 0 30px;
        }

        td {
            border: 1px solid blue;
            padding: 10px;
            background-color: rgba(0,0,0,.5);
        }

        th {
            width: 150px;
            padding: 10px;
        }

        .space {
            border-right: hidden;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-center">
        @*display news and updates*@
        <div class="card" style="background-color: rgba(0,0,0,0); border:none; width:100%">
            <div class="row">
                <div class="col">
                    <table class="spce">
                        @*<tr>
                                <th style="text-align:center; background: linear-gradient(#5bc0de, #9dd9eb); color:black;"><b>News and Updates</b></th>
                            </tr>*@
                        <tbody id="dsplyNaU">
                            <tr>
                                <td class="space">
                                    <b>- No news and updates -</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/MyScript/residentPage.js"></script>
</body>
</html>
