
@{
    ViewBag.Title = "brgyOffPage";
}

<html>
<head>

</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="card w-50" style="background-color: rgba(0,0,0,.5);">
            <div class="card-body">
                <h5 class="text-center">Post news and event</h5>
                <hr class="bg-light" />
                <div class="row">
                    @* post news and updates *@
                    <div class="col">
                        <div class="form-group-lg">
                            <div class="input-group">
                                <textarea class="form-control" id="txtPostNews" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="d-flex justify-content-center">
                    <button id="btnPost" class="btn" style="background: linear-gradient(to right, #5bc0de, #9dd9eb);">Post</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/myScripts/brgyOffPage.js"></script>
</body>
</html>

